body {
    /* background-color: #f0f8ff; */
    background-color: #FEFEE3;
    margin: 0;
    padding: 20px;
    color: #333;
    overflow: hidden;
}

#header {
    text-align: center;
}

#title {
    font-size: 90px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #D33E43;
    letter-spacing: 1px;
}

.redLetters {
    color: #D33E43;
}

.bowlby-one-sc-regular {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.keania {
    font-family: "Keania One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#instructions {
    background-color: antiquewhite;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

#mainDiv {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif; */

}

#landing-screen {
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

#landingImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#mainBody {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addDiv {
    flex-basis: 30%;
}

#gameCanvasDiv {
    display: none;


}

#gameCanvas {
    display: block;
    margin: auto;
}

#innerContainer {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

#addsContainer2 {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#landingImg {
    /* background-image: url("/images/orc4.jpg");
    background-color: #cccccc;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    position: relative;
    padding-top: 20px;
    border: 2px solid #222; */

    width: 100%;
    height: 70vh;
    position: relative;
}

#orcImg {
    display: block;
    margin: auto;
    height: 100%;
}

#united24 {
    width: 300px;
}

canvas {
    border: 2px solid #4682b4;
    background-color: #A1CCA5;

    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70vw;
    /* 70% of the viewport width */
    height: 70vh;
    /* 70% of the viewport height */
    /* background: url("/images/back.png"); */
}

#scoreBoard {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 5px;
}

#gameOverDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameOver {
    color: #D33E43;
    letter-spacing: 1px;
    font-size: 65px;
    display: none;
}

#restartBtn {
    display: none;
}

.startButtons {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: auto;
    outline: none;
    overflow: visible;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

#startButton {

    width: 50%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

#startButton:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#startButton,
#startButton:focus {
    user-select: auto;
}

#startButton:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#startButton:disabled {
    cursor: auto;
}

#startButton:active {
    border-width: 4px 0 0;
    background: none;
}


.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
}

@media only screen and (max-width: 1000px) {
    #mainBody {
        display: flex;
        flex-direction: column;
    }

    #landingImg {
        order: 1;
    }

    .addDiv {
        order: 2;
        margin-top: 10px;
    }
}