body {
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    color: #333;
    overflow: hidden;
}

#header {
    text-align: center; 
}

#instructions {
    background-color: antiquewhite;
    padding: 10px;
    width: fit-content;
    margin: auto;
}

#mainDiv {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif; */

}

#landing-screen {
    /* text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

#mainBody {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.addDiv {
    flex-basis: 20%;
}
#gameCanvasDiv {
    display: none;
}

#landingImg {
    background-image: url("/images/orc4.jpg"); 
  background-color: #cccccc; 
 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  width: 100%;
  height: 80vh;
  position: relative;
}

canvas {
    border: 2px solid #4682b4;
    background-color: #b0c4de;

    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 70vw;
    /* 70% of the viewport width */
    height: 70vh;
    /* 70% of the viewport height */
    /* background: url("https://c2.staticflickr.com/4/3438/3376557059_4c1fc0b6fc_b.jpg"); */
}

#scoreBoard {

    font-size: 20px;
    font-weight: bold;
}

#gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: red;
    display: none;
}

#restartBtn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;

    display: none;
}


#startButton {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: auto;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 50%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

#startButton:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

#startButton,
#startButton:focus {
    user-select: auto;
}

#startButton:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

#startButton:disabled {
    cursor: auto;
}

#startButton:active {
    border-width: 4px 0 0;
    background: none;
}